# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: 2021 Kattni Rembor for Adafruit Industries
#
# SPDX-License-Identifier: MIT

adafruit-circuitpython-lis3dh
adafruit-circuitpython-thermistor
adafruit-circuitpython-neopixel
